* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#33C3FF,#fff)
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 10000;
}



header ul {
    display:flex;
    width: 1000px;
    left: 0;
    justify-content: left;
    position: absolute;
    align-items: right;
}

header ul li {
    list-style:none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: white;
    color: #2b1055;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: linear-gradient(to top,transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#sun {
    bottom: 20%;
    width: 60%;
    right: 50%;
    left: 20%;
}

section img#mountain {
     z-index: 10; 
}

#text
{
    position: absolute;
    height: 290px;
    color: rgb(10, 48, 48);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

.paraspace
{
    height: 550px;
    width: 100%;
}

.paragraph {
    position: relative;
    padding: 30px;
    background: #000;
}

.paragraph h2 {
    font-size: 2.0em;
    margin-bottom: 8px;
    color: cyan;
}

#wayanad {
    width: 85%;
    border: none;
    outline: none;
}

.socialmedia {
    background-color: #000;
    height: 30%;
    color: #fff;
    font-size:x-large;
    width: 100%;
}
.socialmedia img {
    width: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.socialmedia img#fb {
    padding: 0;
    margin-left: 4%;
}

.end {
    height: 30px;
    background-color: black;
}


